@tailwind base;
@tailwind components;
@tailwind utilities;

.logseq-audio-memo-main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	/* background-color: rgba(0, 0, 0, 0.05);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px); */
}
